.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.start-menu {
  text-align: center;
  color: white;
}

.start-menu h1 {
  font-size: 32px;
}

.start-menu button {
  font-size: 20px;
  padding: 10px 20px;
  background: gold;
  color: rgb(45, 45, 7);
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.game-area {
  position: relative;
  width: 400px;
  height: 500px;
  background: #333;
  padding: 10px;
  border-radius: 1rem;
  overflow: hidden;
}
.game-area h2 {
    color: white;
}

.balance {
  color: white;
  text-align: center;
  font-size: 24px;
  margin-top: 10px;
}

.player {
  position: absolute;
  bottom: 10px;
  width: 40px;
  height: 40px;
  background: blue;
  border-radius: 50%;
  transform: translateX(-50%);
}

.coin {
  position: absolute;
  width: 20px;
  height: 20px;
  background: gold;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
  font-weight: bold;
}

.controls {
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 100;
}

.controls button {
  font-size: 24px;
  padding: 10px;
  background: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
